@page "/"

@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Directory of Employees</PageTitle>


@if (NavigationManager.HistoryEntryState is not null or "")
{
    <div class="alert alert-success" role="alert">
        Employee @NavigationManager.HistoryEntryState was just added.
    </div>
}

<h1>Directory of Employees</h1>

<br />
<br />

<label class="form-label col-md-1">Filter</label>
<input id="filterLastName" @bind="FilterText" @bind:event="oninput" @bind:after="LoadDataFromServer" class="form-control-sm col-md-2" />
<button class="btn btn-primary" @onclick="LoadDataFromServer">Load From Server</button>

<br />
<br />

@if (Directory?.Employees is not null)
{
    <table class="table" style="width:1000px">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Date of Employment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Employee employee in @Directory.Employees)
            {
                <tr>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.DateOfBirth.ToString("yyyy-MM-dd")</td>
                    <td>@employee.DateOfEmployment.ToString("yyyy-MM-dd")</td>
                </tr>
            }
        </tbody>
    </table>
}